<div class="registerContainer">
  <div class="credentialsContainer">
    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input [formControl]="password" matInput placeholder="Digite sua senha" />
      <mat-icon
        [ngClass]="{
          matUnsatisfiedIconInput: iconColor === 'red',
          matIconInput: iconColor === 'yellow',
          matSatisfiedIconInput: iconColor === 'green'
        }"
        matSuffix
        >{{ PasswordIcon() }}</mat-icon
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirme sua senha</mat-label>
      <input [formControl]="password2" matInput />
      <mat-hint
        class="inputPasswordInvalid"
        *ngIf="password2.value !== password.value"
        >Confirmação de senha errada!</mat-hint
      >
    </mat-form-field>
    <button
      mat-flat-button
      routerLink="/login"
      [disabled]="password.value !== password2.value || email.invalid"
    >
      Cadastrar
    </button>
  </div>
</div>
