div
  display: flex
  flex-direction: column
  h2
    color: #FFF
  .tableContent
    overflow-y: scroll
    height: 30vh
    flex-direction: column

  .tableContainer
    display: flex
    width: 23rem
    height: 20rem
