<div>
  <span>HomeBanking</span>
  <div>
    <mat-form-field appearance="outline" class="emailContainer">
      <mat-label>Coloque seu Email</mat-label>
      <input
        matInput
        required
        placeholder="pat@example.com"
        [formControl]="email"
        [(ngModel)]="loginData.email"
      />
      <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="passwordContainer">
      <mat-label>Coloque sua Senha</mat-label>
      <input
        class="inputPassword"
        matInput
        [formControl]="password"
        [type]="hide ? 'password' : 'text'"
        [(ngModel)]="loginData.password"
      />
      <mat-error>{{ getPasswordErrorMessage() }}</mat-error>
      <button
        class="eyeButton"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon class="eyeIcon">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
    <button
      class="buttonLogin"
      type="submit"
      [disabled]="submitValidator()"
      mat-raised-button
      (click)="Submit()"
    >
      Enviar
    </button>
    <a routerLink="/register">Registrar</a>
  </div>
</div>
